################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAppMVC/bin/Debug/net8.0
/WebAppMVC/obj
/WebAppMVC.Tests/obj
